html, body {
    margin: 0;
    padding: 0;
}

/* Add a background color to the header element */
.vanilla-header {
    font-size: 40pt;
    background-color: darkmagenta;
}
/* Add a fun background color to the main element */
main {
    background-color: darkslategray;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    color: firebrick;
    font-style: italic;
    font-size: 18pt;
}
/* Put a border around your image */
img {
    border-style: double;
    border-width: thick;
    border-color: goldenrod;
}
/* Change the font-family of your list */
ul {
    font-family: 'Roboto Mono', monospace;
    font-size: 20pt;
}
/* Add a background color to the footer element */
footer {
    background-color: floralwhite;
}